
.error {
    background: #faa;
}

#status-console {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    background: #ddd;
}

#status-console div.main {
    font-size: 1.1em;
}

#status-console div.collapsed div.updates {
    visibility: hidden;
    height: 0px;
}

p.update, p.error, p.warn {
    padding-left: 10px;
    padding-right: 10px;
}

p.aspace {
    color: blue;
}

p.warn {
    color: red;
}