<h1>Archon Migration Service</h1>
<div class="pure-g">
<div id="form-wrapper" class="pure-u-1-2">
<%= ERB.new(File.read(File.dirname(__FILE__)+'/jobs/new.erb')).result(binding) %>
</div>

<div id="status-console" class="pure-u-1-2">
<p>
Welcome to the Archon Migration Service. This software can be used to migrate an <a href="http://www.archon.org">Archon</a> database to an <a href="http://archivesspace.org">ArchivesSpace</a> database. 
</p>
<p>Fill out the form to the left and click the "Start Migration" button. Leave this window open while the migration job runs. Before proceeding, make sure your connection is stable and can be left open for...a while.
</p>
<p>Note. If you know where you will be hosting the digital files that will be extracted from Archon, enter a digital object base url. If you want to leave this field blank, tick the box beneath it. The default value is 'http://www.example.com'.</p>

</div>
</div>
